 <link rel="stylesheet" href="{{ STATIC_URL }}css/camera.css">
 <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.mobile.customized.min.js"></script>
 <script src="{{ STATIC_URL }}js/camera.min.js"></script>

<div class="camera_wrap" id="homeSlider">
    <div data-src="http://placekitten.com/1200/400"></div>
    <div data-src="http://placedog.com/1200/400"></div>
    <div data-src="http://placedog.com/1200/400"></div>
</div>

<script>
    $(document).ready(function(){
        $('#homeSlider').camera({ //here I declared some settings, the height and the presence of the thumbnails
	        height: '400px',
            imagePath: '{{ STATIC_URL }}images/'
        });
    });
</script>