<!DOCTYPE html>
<html lang="en">
    {% include "include/wrapper-head.html" %}
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">

                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <a class="brand " href="/">Little Lion</a>

                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li id="comicstab"><a href="/">Comics</a></li>
                        <li id='donatetab'><a href="/">Donate</a></li>
                    </ul>

                    <ul class="nav" id="accountinfonav">
                        <li id="accounttab"><a href="/">Account</a> </li>
                        <li id="logintab"><a href="/">Log In</a> </li>
                    </ul>

                </div>
              </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">