<!DOCTYPE html>
<html lang="en">
    {% include "include/wrapper-head.html" %}
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">

                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <a class="brand " href="/">Little Lion</a>

                    <ul class="nav" id="accountInfoNav">
                        {%  if user.is_authenticated %}
                            <li id="comicsTab"><a href="/">Comics</a></li>
                            <li id="blogTab"><a href="/">Blog</a></li>
                            <li id='donateTab'><a href="/">Donate</a></li>
                            <li id='accountTab'><a href="/">Account</a> </li>
                            <li id="logoutTab"><a href="/logout">Log Out</a></li>
                        {% else %}
                            <li id="comicsTab"><a href="/">Comics</a></li>
                            <li id="blogTab"><a href="/">Blog</a></li>
                            <li id='donateTab'><a href="/">Donate</a></li>
                            <li id="loginTab"><a href="/register">Log In</a> </li>
                        {% endif %}
                    </ul>

                </div>
              </div>
        </div>
        {%  include "include/slider.html" %}
        <div class="container">
            <div class="row">
                <div class="span12">
