{% include "include/wrapper-top.html" %}

<div class="row">
    <div class="span5">
        <h2>What is Little Lion</h2>
        <p>
            Little Lion is a Las Vegas based brand that strives to do
            things a little differently. Comics combined with style we
            are trying to build a community centered around art.
            <em>Lets Make Things Interesting</em>
        </p>
    </div>
    <div class="span6">
        <h2>Spread The Word!</h2>
	<div class="containerSocial">

		<ul class="action-bar clearfix">

			<li>
				<a href="" class="like">
					<span class="zocial-twitter"></span>
					<span class="tooltip">Follow us</span>
				</a>
			</li>

			<li>
				<a href="https://littlelion-us.tumblr.com" class="share">
					<span class="zocial-tumblr"></span>
					<span class="tooltip">Follow us</span>
				</a>
			</li>
			<li>
				<a href="#" class="favourite">
					<span class="zocial-googleplus"></span>
					<span class="tooltip">Circle us</span>
				</a>
			</li>

			<li>
				<a href="#" class="comment">
					<span class="zocial-facebook"></span>
					<span class="tooltip">Like us</span>
				</a>
			</li>


		</ul>
    </div>
</div>



{% include "include/wrapper-bottom.html" %}