{% include "include/wrapper-top.html" %}

<div class="row">
    <div class="span10">
        <div class="hero-unit">
          <h1>Little Lion </h1><h3 class="muted">and the Castle of Frozen Tears</h3>
          <p>Only you can help him escape!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span5">
        <h3>What is Little Lion</h3>
        <p> Little Lion is a online comic series. We aim to create an experience through user influence to create
        a comic that you can relate to. We want you to <em>feel</em> apart of this.</p>
    </div>
    <div class="span6">
    </div>
</div>


{% include "include/wrapper-bottom.html" %}