{% include "include/wrapper-top.html" %}
    <div class="row">
        <div class="span6 offset3 registerForm">
                <div class="well well-small">
                <h3 class="text-center"> Join the Cub!</h3>
                <form id="formRegister" class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" class="input-small" name='firstName' placeholder="First">
                        <input type="text" class="input-small" name='lastName' placeholder="Last">
                    </div>
                    <label class="control-label">Email</label>
                    <div class="controls">
                      <input type="text" name="email" placeholder="Email">
                    </div>
                    <label class="control-label" for="registerPassword">Password</label>
                    <div class="controls">
                      <input type="password" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-info">Sign Up</button>
                  </div>
              </div>
            </form>
            </div>
        </div>
     </div>
{% include "include/modal-login.html" %}

{% include "include/wrapper-bottom.html" %}